#calculator{
    border: 1px solid rgb(95, 93, 83);
    border-radius: 5px;
    width: 250px;
    height: 320px;
}

#display{
    margin: 10px;
    width: 85%;
    font-size: 25px;
}

#button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}